<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>circle01.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,1},{165,206}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,0},{165,206}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>circle02.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,168},{171,184}}</string>
                <key>offset</key>
                <string>{5,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,0},{171,184}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>circle03.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,168},{173,190}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,0},{173,190}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>circle04.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,703},{191,200}}</string>
                <key>offset</key>
                <string>{-10,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{191,200}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>circle05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,694},{209,188}}</string>
                <key>offset</key>
                <string>{7,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{209,188}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>circle06.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,703},{203,190}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{203,190}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>circle07.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,1},{165,200}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,0},{165,200}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>circle08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,167},{165,208}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,0},{165,208}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>trangle01.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,168},{173,200}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,6},{173,200}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>trangle02.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,341},{175,178}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,6},{175,178}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>trangle03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,509},{177,184}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,5},{177,184}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>trangle04.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,707},{195,194}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{195,194}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>trangle05.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,510},{209,182}}</string>
                <key>offset</key>
                <string>{7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,6},{209,182}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>trangle06.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,521},{203,184}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{203,184}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>trangle07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,334},{173,194}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,6},{173,194}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>trangle08.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,335},{173,202}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,5},{173,202}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>trapezoid01.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,519},{187,182}}</string>
                <key>offset</key>
                <string>{17,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,24},{187,182}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>trapezoid02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{189,160}}</string>
                <key>offset</key>
                <string>{16,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,24},{189,160}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>trapezoid03.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,1},{199,164}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,25},{199,164}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>trapezoid04.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,343},{217,174}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,25},{217,174}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>trapezoid05.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,1},{209,164}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,24},{209,164}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>trapezoid06.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,167},{215,166}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,24},{215,166}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>trapezoid07.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,343},{187,176}}</string>
                <key>offset</key>
                <string>{17,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,24},{187,176}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>trapezoid08.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,519},{187,182}}</string>
                <key>offset</key>
                <string>{17,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,25},{187,182}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>new character.png</string>
            <key>size</key>
            <string>{1013,902}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:909352fe619ddb95b837adb125059777:d784440939f6e0bd617aeafb42c2e8c2:c310c468e776bd5620c8369643fb7005$</string>
            <key>textureFileName</key>
            <string>new character.png</string>
        </dict>
    </dict>
</plist>
