<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>circle01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{241,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,210}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>circle02.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,0},{241,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,210}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>circle03.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,0},{241,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,210}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>circle04.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,0},{241,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,210}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>circle05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,210},{241,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,210}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>circle06.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,210},{241,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,210}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>circle07.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,210},{241,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,210}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>circle08.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,210},{241,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,210}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>trangle01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,420},{241,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,210}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>trangle02.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,420},{241,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,210}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>trangle03.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,420},{241,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,210}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>trangle04.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,420},{241,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,210}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>trangle05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,630},{241,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,210}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>trangle06.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,630},{241,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,210}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>trangle07.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,630},{241,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,210}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>trangle08.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,630},{241,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,210}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>trapezoid01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,840},{241,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,210}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>trapezoid02.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,840},{241,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,210}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>trapezoid03.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,840},{241,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,210}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>trapezoid04.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,840},{241,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,210}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>trapezoid05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1050},{241,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,210}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>trapezoid06.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,1050},{241,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,210}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>trapezoid07.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,1050},{241,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,210}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>trapezoid08.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,1050},{241,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,210}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>new character.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11717bbb52c3de6aecb4a276bb42e38d:cb1890ae562d90dcf308b62d449ad3bb:c310c468e776bd5620c8369643fb7005$</string>
            <key>textureFileName</key>
            <string>new character.png</string>
        </dict>
    </dict>
</plist>
